/NetBeans/Nueva Carpeta/E1P13Tienda/nbproject/private/
/NetBeans/Nueva Carpeta/E1P13Tienda/build/
/NetBeans/JDBC_G13/E1P13Tienda/build/
/NetBeans/JDBC_G13/E1P13Tienda/nbproject/private/
/NetBeans/JPA_G14/E1P18/nbproject/private/
/NetBeans/JPA_G14/E1P18/build/
/NetBeans/JPA_G14/E1P18/dist/
